$primary-color: #00ff99;
$secondary-color: #ffcb05;
$titulos-color: #ff00cc;
$card-bg: #fff;
$text-color: #333;
$secondary-text: #f2f4f8;
$shadow-1: 0 0 10px $secondary-color;
$shadow-2: 0 0 10px $titulos-color;
$radius: 12px;
