@use './variables' as *;

form {
  background: transparent;
  border: 2px solid $secondary-color;
  backdrop-filter: blur(15px);
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: $shadow-1;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    background-color: $secondary-color;
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: $shadow-2;
  }
}
