@use './variables' as *;

header {
  background: transparent;
  border: 2px solid $secondary-color;
  backdrop-filter: blur(15px);
  color: $titulos-color;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-1;
}

.nombre-tienda {
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;

  a {
    color: $secondary-text;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color;
    }
  }
}
