@use './variables' as *;

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
.producto-card {
  background: transparent;
  backdrop-filter: blur(15px);
  border-radius: 12px;
  border: 2px solid $secondary-color;
  overflow: hidden;
  box-shadow: 0 0 10px $secondary-color;
  color: $secondary-text;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.producto-card:hover {
  background-color: $titulos-color;
  transform: translateY(-5px);
}

.producto-card img {
  max-width: 100%;
  border-radius: 8px;
}

.producto-card h3 {
  margin: 10px 0 5px;
}

.producto-card p {
  margin: 5px 0;
  font-weight: bold;
  color: $primary-color;
}

.filtros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;

  .input-busqueda,
  .dropdown-categorias {
    padding: 0.7rem 1.2rem;
    background: transparent;
    font-size: 1rem;
    border-radius: 12px;
    border: 2px solid $secondary-color;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .input-busqueda:hover,
  .dropdown-categorias:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }
}


